* {
  box-sizing: border-box;
}

button, body, html {
  margin: 0;
  padding: 0;
}

button {
  background-color: #555;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 10px
}

body > :not(#loader) {
  margin: 20px;
}

@keyframes load-one {
	0% {
		width: 0;
		opacity: 1;
	}
	83% {
		width: 100vw;
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#loader.one > * {
	animation: load-one 1.2s;
	animation-fill-mode: forwards
}

@keyframes load-two {
	0% {
		width: 0;
		opacity: 1;
	}
	83% {
		width: 100vw;
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#loader.two > * {
	animation: load-two 1.2s;
	animation-fill-mode: forwards;
}

#loader {
	height: 4px;
	width: 100vw;
}

#loader > * {
	background-color: #f55;
	height: 100%;
	width: 0;
}
